{# Gere l'affichage de notre formulaire sur notre site internet #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}

 <link rel="stylesheet" href="{{ asset('css/contact.css') }}"/>


{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="bg-success text-light h-50" style="font-size: 2em;" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
    <div class="row">
    <div class="col-md-3">&nbsp;</div>
		<div class="col-md-6">
			<div class="alert alert-secondary py-3 px-3 mt-5 mb-5 " id="imgFormContact">
                <h1 class="text-center mb-4">NOUS CONTACTER</h1>

                 {{ form(contactForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}