<link rel="stylesheet" href="{{asset ('/css/style.css')}}">
<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">A propos de Nous</h5>
						<p class="mb-4">Association des amoureux des belles lettres. Permanence téléphonique assurée du lundi au vendredi de 9h à 12h et de 14h à 17h</p>
						
							<div class="row">
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Addresse:</h6>
										<p>2 Rue du Moulin</p>
									</div>
								</div>
							<div class="row">
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Nous contacter</h6>
										<p><a href="#">contact.blog.@gmail.com</a></p>
									</div>
								</div>
						</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Information</h5>
						<div class="row">
									<div class="col-10">
										<p class="mb-0">Conditions d'utilisation</p>
									</div>
								</div>
							    <br>
								<div class="row">
									<div class="col-10">
										<p class="mb-0">Politique de confidentialité</p>	
									</div>
								</div>
							     <br>
								<div class="row">
									<div class="col-10">
										<p class="mb-0">Mentions légales</p>
									</div>
								</div>
							
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Client</h5>
						    <span>Connexion à mon compte</span>
							    <br>
							<span>Nos Evénements</span>
						</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-3 font-weight-bold">NEWSLETTER .blog</h5>
						<div class="input-group">
						  	<input type="text" class="form-control" placeholder="Votre Email">
						  	<button type="button" class="btn btn-primary">S'inscrire</button>
						</div>
						<h5 class="mt-3 font-weight-bold">Suivez-nous sur:</h5>
                            <a href="https://www.facebook.com/?stype=lo&jlou=Aff-Jrd3VANPrhrO6gWl6DnzYHzVN6fZMqVJiCD_QXjkp4dl0FFO2Ik3HhSRco3HKJfThbYVuiTJsriT815fgexp&smuh=36893&lh=Ac8IAcGTV6FUtiPy"><img src="{{asset ('/img/facebook.svg')}}" class="img-responsive mt-2 mr-4" alt="logo" width="65px;"></a>
                            <a href="https://www.instagram.com/?hl=fr"><img src="{{asset ('/img/instagram.svg')}}" class="img-responsive mt-2 mr-4" alt="logo" width="65px;"></a>
                            <a href="https://www.snapchat.com/l/fr-fr/"><img src="{{asset ('/img/snapchat.svg')}}" class="img-responsive mt-2" alt="logo" width="65px;"></a>
                    </div>
				</div>
			</div>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; .blog : Dites le avec des mots ! Tous droits réservés.
						</div>
						<div class="text-center text-white">
							"Ils ne ne savient pas que c'était impossible alors ils l'ont fait"
						</div>
				</div>
			</div>
		</section>
		</footer>